.books {
    list-style: none;
}

.image-style {
    object-fit: cover;
    width: 250px;
    height: 350px;
}

mat-card {
    display: inline-flex;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(210, 210, 210, 0.42);
}

.mat-mdc-card-avatar {
    background-size: cover;
}

.actions {
    display: flex;
    padding: 10px;
    padding-left: 10px;
}

.add-button {
    margin-left: 1000px;
}

.input-style {
    /* height: 30px;
    font-size: 15px; */
    height: 30px;
    font-size: 15px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid lightgrey !important;
    border-color: black;
    padding: 2px;
    padding-left: 12px;
    border-right: none !important;
}

.search-btn {
    height: 36.5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid lightgrey !important;
    background-color: transparent;
    border-left: none !important;
}

.search-style {
    display: flex;
}

.favorite {
    cursor: pointer;
}

.action-style {
    display: flex;
}

.update {
    margin-right: 140px;
}

.main-section {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
}